In [192]:
import numpy as np
import csv
import pandas as pd

In [193]:
# Predict via the user-specific median.
# If the user has no data, use the global median.

train_file = 'train.csv'
test_file  = 'test.csv'
user_median_file  = 'user_median.csv'
global_median_file = 'global_median.csv'
profiles_file = 'profiles.csv'
artists_file = 'artists.csv'

In [194]:
# Load the training data.
train_data = {}
with open(train_file, 'r') as train_fh:
    train_csv = csv.reader(train_fh, delimiter=',', quotechar='"')
    next(train_csv, None)
    for row in train_csv:
        user   = row[0]
        artist = row[1]
        plays  = row[2]
    
        if not user in train_data:
            train_data[user] = {}
        
        train_data[user][artist] = int(plays)

In [195]:
type(train_data)

dict

In [197]:
bigtraindf = pd.DataFrame.from_dict(train_data)

In [198]:
bigtraindf.head()

,00000c289a1829a808ac09c00daf10bc3c4e223b,00001411dc427966b17297bf4d69e7e193135d89,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,00007a47085b9aab8af55f52ec8846ac479ac4fe,0000c176103e538d5c9828e695fed4f7ae42dd01,0000ee7dd906373efa37f4e1185bfe1e3f8695ae,0000ef373bbd0d89ce796abae961f2705e8c1faf,0001399387da41d557219578fb08b12afa25ab67,000163263d2a41a3966a3746855b8b75b7d7aa83,0001a88a7092846abb1b70dbcced05f914976371,...,fffcf52d27aa7ea75f99d4bff654fa08fcedc4b6,fffd3df081c03829a9ea4699e2d85e868d7a791b,fffe1f0fc9eb1432b98eb25b2c950850796a4a8b,fffe356b9dab2fae1f887fabb1f08ab4976c91bb,fffe3e8eb1b2db8dcb3f3fe753552d5803d085f1,fffe454af08a58c7bafe77491b586711f6b5e6f1,fffe7823f67b433b45f22056467db921c1d3d7d0,fffe8637bd8234309e871409c7ebef99a720afc1,fffe8c7f952d9b960a56ed4dcb40a415d924b224,ffff9ef87a7d9494ada2f9ade4b9ff637c0759ac
000d90ec-d64c-48a1-b775-e726fd240e9f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000fc734-b7e1-4a01-92d1-f544261b43f5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0019749d-ee29-4a5f-ab17-6bfa11deb969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0039c7ae-e1a7-4a7d-9b49-0cbc716821a6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
004e5eed-e267-46ea-b504-54526f1f377d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
np.sum(bigtraindf.iloc[:, [1]])

00001411dc427966b17297bf4d69e7e193135d89    30730
dtype: float64

In [199]:
bigtraindf.shape

(2000, 233286)

In [216]:
train = bigtraindf.transpose()

In [217]:
train['user_median'] = train.median(axis=1)

In [218]:
train.head()

,000d90ec-d64c-48a1-b775-e726fd240e9f,000fc734-b7e1-4a01-92d1-f544261b43f5,0019749d-ee29-4a5f-ab17-6bfa11deb969,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6,004e5eed-e267-46ea-b504-54526f1f377d,00565b31-14a3-4913-bd22-385eb40dd13c,00a9f935-ba93-4fc8-a33a-993abe9c936b,00eeed6b-5897-4359-8347-b8cd28375331,0103c1cc-4a09-4a5d-a344-56ad99a77193,0110e63e-0a9b-4818-af8e-41e180c20b9a,...,ff7f80cd-05c2-4068-a00e-fbfbd453d049,ff865aa0-4603-4f79-ae8b-8735332e2cfa,ff95eb47-41c4-4f7f-a104-cdc30f02e872,ff9deaae-da4f-42b7-a19e-36fedd3fc706,ffb18e19-64a4-4a65-b4ce-979e00c3c69d,ffb2d3e3-a4cc-48cf-8fb0-f2f846e9d7b9,ffb390b8-8df4-4b72-97d1-7b2fc008a452,ffe16bba-4d84-409b-8f22-5242c60b930f,ffe9ec08-6b6b-4993-9394-e280b429dbfd,user_median
00000c289a1829a808ac09c00daf10bc3c4e223b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226.5
00001411dc427966b17297bf4d69e7e193135d89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,622,NaN,NaN,NaN,NaN,1102.5
000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
00007a47085b9aab8af55f52ec8846ac479ac4fe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.5
0000c176103e538d5c9828e695fed4f7ae42dd01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,482.0

In [219]:
train = train.reset_index()

In [220]:
train = train.rename(columns={'index': 'user'})

In [221]:
train.head()

,user,000d90ec-d64c-48a1-b775-e726fd240e9f,000fc734-b7e1-4a01-92d1-f544261b43f5,0019749d-ee29-4a5f-ab17-6bfa11deb969,0039c7ae-e1a7-4a7d-9b49-0cbc716821a6,004e5eed-e267-46ea-b504-54526f1f377d,00565b31-14a3-4913-bd22-385eb40dd13c,00a9f935-ba93-4fc8-a33a-993abe9c936b,00eeed6b-5897-4359-8347-b8cd28375331,0103c1cc-4a09-4a5d-a344-56ad99a77193,...,ff7f80cd-05c2-4068-a00e-fbfbd453d049,ff865aa0-4603-4f79-ae8b-8735332e2cfa,ff95eb47-41c4-4f7f-a104-cdc30f02e872,ff9deaae-da4f-42b7-a19e-36fedd3fc706,ffb18e19-64a4-4a65-b4ce-979e00c3c69d,ffb2d3e3-a4cc-48cf-8fb0-f2f846e9d7b9,ffb390b8-8df4-4b72-97d1-7b2fc008a452,ffe16bba-4d84-409b-8f22-5242c60b930f,ffe9ec08-6b6b-4993-9394-e280b429dbfd,user_median
0,00000c289a1829a808ac09c00daf10bc3c4e223b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,226.5
1,00001411dc427966b17297bf4d69e7e193135d89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,622,NaN,NaN,NaN,NaN,1102.5
2,000063d3fe1cf2ba248b9e3c3f0334845a27a6bf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0
3,00007a47085b9aab8af55f52ec8846ac479ac4fe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.5
4,0000c176103e538d5c9828e695fed4f7ae42dd01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,482.0

# profiles dataset

In [122]:
profilesdf = pd.DataFrame.from_csv(profiles_file)

In [123]:
profilesdf.reset_index(inplace=True)

In [124]:
profilesdf.head()

                                       user sex  age        country
0  fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d   f   25         Sweden
1  5909125332c108365a26ccf0ee62636eee08215c   m   29        Iceland
2  d1867cbda35e0d48e9a8390d9f5e079c9d99ea96   m   30  United States
3  63268cce0d68127729890c1691f62d5be5abd87c   m   21        Germany
4  02871cd952d607ba69b64e2e107773012c708113   m   24    Netherlands

In [125]:
len(set(profilesdf['user']))

233286

In [12]:
import wbdata

In [65]:
country_wbcode = {}
for country in set(profilesdf['country']):
    try:
        country_wbcode[country] = str(wbdata.search_countries(country, display=False)[0]['id'])
    except:
        country_wbcode[country] = None

In [29]:
latitudes = []
for row in profilesdf['country']:
    try:
        latitudes.append(float(wbdata.search_countries(row, display=False)[0]['latitude']))
    except:
        latitudes.append(float('nan'))

In [40]:
longitudes = []
for row in profilesdf['country']:
    try:
        longitudes.append(float(wbdata.search_countries(row, display=False)[0]['longitude']))
    except:
        longitudes.append(float('nan'))

In [75]:
gdp = []
for row in profilesdf['country']:
    try:
        gdp.append(float(wbdata.get_data("NY.GDP.PCAP.PP.KD", country=country_wbcode[row])[1]['value']))
    except:
        gdp.append(float('nan'))

In [76]:
profilesdf['latitudes'] = latitudes
profilesdf['longitudes'] = longitudes
profilesdf['gdp'] = gdp

In [84]:
profilesdf['sex'] = profilesdf['sex'].str.contains('m', na=False) # male = 1, female = 0
profilesdf['sex'] = profilesdf['sex'].astype(float)

In [115]:
profilesdf.head()

,user,sex,age,country,latitudes,longitudes,gdp
0,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.06450,44033.943287
1,5909125332c108365a26ccf0ee62636eee08215c,1,29,Iceland,64.1353,-21.89520,41236.473229
2,d1867cbda35e0d48e9a8390d9f5e079c9d99ea96,1,30,United States,38.8895,-77.03200,52117.745853
3,63268cce0d68127729890c1691f62d5be5abd87c,1,21,Germany,52.5235,13.41150,43602.359247
4,02871cd952d607ba69b64e2e107773012c708113,1,24,Netherlands,52.3738,4.89095,45691.392933

In [116]:
# this overwrites the current file so only run if changing the dataframe
#profilesdf.to_pickle('profiles.pkl')

In [153]:
profilesdf = pd.read_pickle('profiles.pkl')

# merging data

In [159]:
testdf = pd.DataFrame.from_csv(test_file)
traindf = pd.DataFrame.from_csv(train_file)

In [161]:
traindf.reset_index(inplace=True)

In [155]:
testdf.reset_index(inplace=True)
testdf = testdf.drop('Id', 1)

In [163]:
traindf.head()

,user,artist,plays
0,eb1c57ddc9e0e2d005169d3a1a96e8dd95e3af03,5a8e07d5-d932-4484-a7f7-e700793a9c94,554
1,44ce793a6cd9d20f13f4a576a818ef983314bb5d,a3a92047-be1c-4f3e-8960-c4f8570984df,81
2,da9cf3f557161d54b76f24db64be9cc76db008e3,eeb1195b-f213-4ce1-b28c-8565211f8e43,708
3,8fa49ab25d425edcf05d44bfc1d5aea895287d81,a1419808-65d3-4d40-998c-1a0bac65eabc,265
4,b85fcaef67d2669cd99b334b5e8c8705263db2cf,a3cb23fc-acd3-4ce0-8f36-1e5aa6a18432,220

In [156]:
testdf.head()

,user,artist
0,306e19cce2522fa2d39ff5dfc870992100ec22d2,4ac4e32b-bd18-402e-adad-ae00e72f8d85
1,9450d351278df4938bdea4ed86aec940a4e927ac,1f574ab1-a46d-4586-9331-f0ded23e0411
2,801909d6955f59033c88595d3d7f8a6a5dcd53cc,3eb72791-6322-466b-87d3-24d74901eb2d
3,e3ed47445c127fbeff47fb58f6bbf2f3b4535d82,61604b45-8a91-4e33-a1b6-45d7b1fec4e5
4,a73f46652103f3a5f7429159310f6928f79644aa,5dfdca28-9ddc-4853-933c-8bc97d87beec

In [164]:
trainmerge = pd.merge(profilesdf, traindf, on='user')

In [177]:
trainmerge.head(10)

,user,sex,age,country,latitudes,longitudes,gdp,artist,plays
0,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,980ee2d8-2ee9-407b-b48e-48360fbc7437,60
1,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d,51
2,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,b616019a-810c-4b05-a558-ad8406f225ff,156
3,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,ebfc1398-8d96-47e3-82c3-f782abcdb13d,32
4,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,8bfac288-ccc5-448d-9573-c33ea2aa5c30,50
5,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,3eb72791-6322-466b-87d3-24d74901eb2d,83
6,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,01d3c51b-9b98-418a-8d8e-37f6fab59d8c,136
7,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,0383dadf-2a4e-4d10-a46a-e9e041da8eb3,240
8,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,3f2a12e9-6398-42fd-b257-2f6abd4aa5fc,54
9,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,67f66c07-6e61-4026-ade5-7e782fad3a5d,84

In [157]:
testmerge = pd.merge(profilesdf, testdf, on='user')

In [158]:
testmerge.head()

,user,sex,age,country,latitudes,longitudes,gdp,artist
0,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,144ef525-85e9-40c3-8335-02c32d0861f3
1,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,fbb375f9-48bb-4635-824e-4120273b3ba7
2,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,d43d12a1-2dc9-4257-a2fd-0a3bb1081b86
3,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,ea4dfa26-f633-4da6-a52a-f49ea4897b58
4,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.0645,44033.943287,cc7d4686-ea02-45fd-956e-94c1a322558c

# merge code dump

In [150]:
a = 'fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d'
b = '118276dbaf61bc28a11bfc5abca1042de1990d83'

In [144]:
profilesdf.loc[profilesdf['user'] == a]

                                       user sex  age country
0  fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d   f   25  Sweden

In [147]:
testdf.loc[testdf['user'] == a]

,user,artist
42831,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,144ef525-85e9-40c3-8335-02c32d0861f3
324381,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,fbb375f9-48bb-4635-824e-4120273b3ba7
499044,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,d43d12a1-2dc9-4257-a2fd-0a3bb1081b86
706070,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,ea4dfa26-f633-4da6-a52a-f49ea4897b58
737503,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,cc7d4686-ea02-45fd-956e-94c1a322558c
770856,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,ffb2d3e3-a4cc-48cf-8fb0-f2f846e9d7b9
949379,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,319b1175-ced9-438f-986b-9239c3edd92d
1651196,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,1723c867-d5c5-4a61-a40b-8c04fa7acf1b
2111058,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,cc197bad-dc9c-440d-a5b5-d52ba2e14234
2505210,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,6e17c8d1-2493-46cc-88d4-64b848a32593
3106007,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,49018fd2-95ef-4f7e-92bb-813159909314
3140127,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,82eb8936-7bf6-4577-8320-a2639465206d
3686492,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,a3cb23fc-acd3-4ce0-8f36-1e5aa6a18432
3927693,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,28503ab7-8bf2-4666-a7bd-2644bfc7cb1d

In [151]:
profilesdf.loc[profilesdf['user'] == b]

                                            user sex  age  country
233285  118276dbaf61bc28a11bfc5abca1042de1990d83   m   21  Germany

In [152]:
testdf.loc[testdf['user'] == b]

,user,artist
427331,118276dbaf61bc28a11bfc5abca1042de1990d83,5de80871-f721-4c7c-b0c5-4ad0d350c232
1049874,118276dbaf61bc28a11bfc5abca1042de1990d83,5e5480be-eded-44ad-9c45-f6136ec2f5db
1058917,118276dbaf61bc28a11bfc5abca1042de1990d83,7952b266-9fd4-4a09-a324-7dc84f11b5fc
1218765,118276dbaf61bc28a11bfc5abca1042de1990d83,cfb1c147-1046-4921-9c53-d3a226ebdb0b
1330604,118276dbaf61bc28a11bfc5abca1042de1990d83,7570a0dd-5a67-401b-b19a-261eee01a284
1457441,118276dbaf61bc28a11bfc5abca1042de1990d83,aaf09f31-bb5c-43e5-9f54-bb6554c33a71
1734046,118276dbaf61bc28a11bfc5abca1042de1990d83,148ddea2-6839-4354-8e2c-5dfadf136b7f
1864899,118276dbaf61bc28a11bfc5abca1042de1990d83,614e3804-7d34-41ba-857f-811bad7c2b7a
2121169,118276dbaf61bc28a11bfc5abca1042de1990d83,0743b15a-3c32-48c8-ad58-cb325350befa
2247131,118276dbaf61bc28a11bfc5abca1042de1990d83,ef6e2e49-aa93-41bd-89b0-8c7d2f260a83
2318123,118276dbaf61bc28a11bfc5abca1042de1990d83,bc710bcf-8815-42cf-bad2-3f1d12246aeb
2734941,118276dbaf61bc28a11bfc5abca1042de1990d83,36e371e9-e76b-4b66-b813-e1d1af6d7128
3268913,118276dbaf61bc28a11bfc5abca1042de1990d83,5c2717ab-3b1e-4043-8874-e88ecf391cc9
3645488,118276dbaf61bc28a11bfc5abca1042de1990d83,4bb4e4e4-5f66-4509-98af-62dbb90c45c5
3922179,118276dbaf61bc28a11bfc5abca1042de1990d83,e9e9109e-5914-48c8-a7e6-a95dd94bd345
3985390,118276dbaf61bc28a11bfc5abca1042de1990d83,87a73cf0-ebdf-483d-8b5a-3db1e5e72122

In [140]:
merged.shape

(4154804, 5)

In [141]:
testdf.shape

(4154804, 2)

In [142]:
profilesdf.shape

(233286, 4)

# outlier detection, normalization

In [181]:
profilesdf.head()

,user,sex,age,country,latitudes,longitudes,gdp
0,fa40b43298ba3f8aa52e8e8863faf2e2171e0b5d,0,25,Sweden,59.3327,18.06450,44033.943287
1,5909125332c108365a26ccf0ee62636eee08215c,1,29,Iceland,64.1353,-21.89520,41236.473229
2,d1867cbda35e0d48e9a8390d9f5e079c9d99ea96,1,30,United States,38.8895,-77.03200,52117.745853
3,63268cce0d68127729890c1691f62d5be5abd87c,1,21,Germany,52.5235,13.41150,43602.359247
4,02871cd952d607ba69b64e2e107773012c708113,1,24,Netherlands,52.3738,4.89095,45691.392933

In [189]:
profilesdf['age'].describe()

count    188444.000000
mean         24.517400
std          21.853296
min       -1337.000000
25%          20.000000
50%          23.000000
75%          27.000000
max        1002.000000
Name: age, dtype: float64

In [190]:
profilesdf['country'].describe()

count            233286
unique              239
top       United States
freq              48944
Name: country, dtype: object

In [178]:
profilesdf['longitudes'].describe()

count    230242.000000
mean         -8.538155
std          53.595012
min        -175.216000
25%         -75.691900
50%           4.367610
75%          18.064500
max         179.089567
Name: longitudes, dtype: float64

In [179]:
profilesdf['latitudes'].describe()

count    230242.000000
mean         40.141652
std          22.661198
min         -41.286500
25%          38.889500
50%          46.948000
75%          52.373800
max          64.183600
Name: latitudes, dtype: float64

In [180]:
profilesdf['gdp'].describe()

count    228069.000000
mean      37682.380964
std       13291.468400
min         566.846007
25%       25813.097164
50%       38534.988209
75%       48430.925586
max      134182.414721
Name: gdp, dtype: float64

## standardization

In [191]:
from sklearn import preprocessing

In [ ]:
std_scale = preprocessing.StandardScaler().fit(X_train)
X_train_std = std_scale.transform(X_train)
X_test_std = std_scale.transform(X_test)

# artists dataset

In [34]:
artistsdf = pd.DataFrame.from_csv(artists_file)

In [35]:
artistsdf.head()

                                                         name
artist
03098741-08b3-4dd7-b3f6-1b0bfa2c879c                    Liars
69c4cc43-8163-41c5-ac81-30946d27bb69          CunninLynguists
7a2e6b55-f149-4e74-be6a-30a1b1a387bb      The Desert Sessions
7002bf88-1269-4965-a772-4ba1e7a91eaa              Glenn Gould
dbf7c761-e332-467b-b4d9-aafe06bbcf8f  G. Love & Special Sauce

In [36]:
artistsdf.shape

(2000, 1)

# median datasets

In [167]:
usermediandf = pd.DataFrame.from_csv(user_median_file)
globalmediandf = pd.DataFrame.from_csv(global_median_file)

In [168]:
usermediandf.head()

    plays
Id
1    72.5
2   143.5
3   207.0
4   307.0
5   109.0

In [170]:
usermediandf.shape

(4154804, 1)

In [39]:
globalmediandf.head()

    plays
Id
1     118
2     118
3     118
4     118
5     118

In [40]:
print usermediandf.shape, globalmediandf.shape

(4154804, 1) (4154804, 1)

# K Means

In [17]:
from sklearn import cluster
from sklearn.cross_validation import train_test_split

In [14]:
X = traindf.fillna(0).values

In [18]:
X_train, X_valid = train_test_split(X, test_size=0.33, random_state=42)

In [19]:
%%time
k_means = cluster.KMeans()
k_means.fit(X_train)

CPU times: user 3min 7s, sys: 2min 6s, total: 5min 14s
Wall time: 7min 35s

In [20]:
k_means.predict(X_valid)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [21]:
len(k_means.predict(X_valid))

660

In [22]:
X_train.shape

(1340, 233286)

In [23]:
X_valid.shape

(660, 233286)

# pycountry and wbdata dump

In [8]:
import pycountry

In [97]:
pycodes = {}
for country in set(profilesdf['country']):
    pycodes[country] = pycountries.get(country, None)

In [111]:
pylanguages = {}
for country in set(profilesdf['country']):
    pylanguages[country] = pycountry.languages.get(iso639_1_code=pycodes[country])

KeyError: u'CA'

In [114]:
list(pycountry.languages)[0]

In [108]:
bengali.name

u'Bengali'

In [ ]:
currencies = {}
for currency in pycountry.currencies:
    currencies[currency.name] = currency.numeric

money = [currencies.get(country, 'Unknown code') for country in input_countries]

In [13]:
wbdata.search_countries('United States', display=False)[0]

{u'adminregion': {u'id': u'', u'value': u''},
 u'capitalCity': u'Washington D.C.',
 u'id': u'USA',
 u'incomeLevel': {u'id': u'OEC', u'value': u'High income: OECD'},
 u'iso2Code': u'US',
 u'latitude': u'38.8895',
 u'lendingType': {u'id': u'LNX', u'value': u'Not classified'},
 u'longitude': u'-77.032',
 u'name': u'United States',
 u'region': {u'id': u'NAC', u'value': u'North America'}}

In [66]:
str(wbdata.search_countries('Netherlands', display=False)[0]['id'])

'NLD'

In [74]:
for key, value in country_wbcode.iteritems():
    print key, value

Canada CAN
Libyan Arab Jamahiriya None
Sao Tome and Principe STP
Turkmenistan TKM
Saint Helena None
Montenegro MNE
Lithuania LTU
Saint Pierre and Miquelon None
Saint Kitts and Nevis None
Ethiopia ETH
Aruba ABW
Sri Lanka LKA
Swaziland SWZ
Argentina ARG
Bolivia BOL
Cameroon CMR
Burkina Faso BFA
Bahrain BHR
Saudi Arabia SAU
American Samoa ASM
Montserrat None
United States Minor Outlying Islands None
Cocos (Keeling) Islands None
Slovenia SVN
Guatemala GTM
Bosnia and Herzegovina BIH
Russian Federation RUS
Jordan JOR
Virgin Islands, British None
Spain ESP
Liberia LBR
Netherlands NLD
Armenia ARM
Pakistan PAK
Oman OMN
Marshall Islands MHL
Christmas Island None
Gabon GAB
Niue None
Finland FIN
Monaco MCO
Bahamas BHS
Wallis and Futuna None
New Zealand NZL
Yemen YEM
Jamaica JAM
Albania ALB
Samoa ASM
Norfolk Island None
United Arab Emirates ARE
Guam GUM
India IND
Azerbaijan AZE
Cote D'Ivoire CIV
Lesotho LSO
Saint Vincent and the Grenadines None
Cyprus CYP
Macao MAC
Pitcairn None
Turkey TUR
Afghanistan AFG
Czech Republic CZE
Eritrea ERI
Solomon Islands SLB
Viet Nam None
Saint Lucia None
San Marino SMR
French Polynesia PYF
France FRA
Syrian Arab Republic SYR
Bermuda BMU
Slovakia None
Somalia SOM
Peru PER
Vanuatu VUT
Nauru None
Seychelles SYC
Norway NOR
Malawi MWI
Cook Islands None
Benin BEN
Congo, the Democratic Republic of the None
Singapore SGP
Botswana BWA
Iran, Islamic Republic of None
Falkland Islands (Malvinas) None
Togo TGO
China CHN
Micronesia, Federated States of None
Timor-Leste TLS
Dominican Republic DOM
Ukraine UKR
Ghana GHA
Tonga TON
Cayman Islands CYM
Western Sahara None
Indonesia IDN
Central African Republic CAF
Mali MLI
United States USA
Tajikistan TJK
Sweden SWE
Belarus BLR
Guyana GUY
Kenya KEN
Cambodia KHM
Bulgaria BGR
Mauritius MUS
Romania ROU
Angola AGO
French Southern Territories None
Chad TCD
South Africa SXZ
Tokelau None
Turks and Caicos Islands TCA
South Georgia and the South Sandwich Islands None
Liechtenstein LIE
Qatar QAT
Virgin Islands, U.s. None
Malaysia MYS
Austria AUT
Mozambique MOZ
Uganda UGA
Japan JPN
Niger NER
Brazil BRA
Faroe Islands FRO
Kuwait KWT
Panama PAN
Korea, Republic of None
Costa Rica CRI
Luxembourg LUX
Cape Verde None
Andorra AND
Gibraltar None
Ireland IRL
Palau PLW
Nigeria NGA
Ecuador ECU
Bangladesh BGD
Australia AUS
Algeria DZA
El Salvador SLV
Tuvalu TUV
Gambia GMB
Rwanda RWA
Chile CHL
Puerto Rico PRI
Belgium BEL
Thailand THA
Haiti HTI
Belize BLZ
Hong Kong HKG
Sierra Leone SLE
Georgia GEO
Lao People's Democratic Republic None
Denmark DNK
Philippines PHL
Namibia NAM
Moldova MDA
French Guiana None
Morocco MAR
Croatia HRV
Mongolia MNG
Guinea-Bissau GNB
Kiribati KIR
Switzerland CHE
Grenada GRD
Iraq IRQ
Tanzania, United Republic of None
Portugal PRT
Estonia EST
Uruguay URY
Equatorial Guinea GNQ
Lebanon LBN
Svalbard and Jan Mayen None
Uzbekistan UZB
Tunisia TUN
Djibouti DJI
Holy See (Vatican City State) None
Antigua and Barbuda ATG
Dominica DMA
Colombia COL
Reunion None
Burundi BDI
Taiwan TWN
Nicaragua NIC
Barbados BRB
Madagascar MDG
Italy ITA
Bhutan BTN
Sudan SDN
Nepal NPL
Malta MLT
Brunei Darussalam BRN
Maldives MDV
Northern Mariana Islands MNP
Suriname SUR
Anguilla None
Venezuela VEN
Netherlands Antilles None
Israel ISR
Bouvet Island None
Iceland ISL
Zambia ZMB
Senegal SEN
Papua New Guinea PNG
Zimbabwe ZWE
Germany DEU
Martinique None
Kazakhstan KAZ
Poland POL
Mauritania MRT
Kyrgyzstan None
Mayotte None
British Indian Ocean Territory None
Korea, Democratic People's Republic of None
New Caledonia NCL
Macedonia MKD
Trinidad and Tobago TTO
Latvia LVA
Hungary HUN
Guadeloupe None
Greenland GRL
Honduras HND
Myanmar MMR
Mexico MEX
Egypt EGY
Cuba CUB
Serbia SRB
Comoros COM
United Kingdom GBR
Antarctica None
Congo COD
Heard Island and Mcdonald Islands None
Greece GRC
Paraguay PRY
Fiji FJI
Palestinian Territory, Occupied None

In [92]:
wbdata.search_indicators("gdp per capita")

6.0.GDPpc_constant      	GDP per capita, PPP (constant 2011 international $)
NV.AGR.PCAP.KD.ZG       	Real agricultural GDP per capita growth rate (%)
NY.GDP.PCAP.CD          	GDP per capita (current US$)
NY.GDP.PCAP.CN          	GDP per capita (current LCU)
NY.GDP.PCAP.KD          	GDP per capita (constant 2005 US$)
NY.GDP.PCAP.KD.ZG       	GDP per capita growth (annual %)
NY.GDP.PCAP.KN          	GDP per capita (constant LCU)
NY.GDP.PCAP.PP.CD       	GDP per capita, PPP (current international $)
NY.GDP.PCAP.PP.KD       	GDP per capita, PPP (constant 2011 international $)
NY.GDP.PCAP.PP.KD.ZG    	GDP per capita, PPP annual growth (%)
SE.XPD.PRIM.PC.ZS       	Government expenditure per primary student as % of GDP per capita (%)
SE.XPD.SECO.PC.ZS       	Government expenditure per secondary student as % of GDP per capita (%)
SE.XPD.TERT.PC.ZS       	Government expenditure per tertiary student as % of GDP per capita (%)
UIS.XUNIT.GDPCAP.2.FSGOV	Government expenditure per lower secondary student as % of GDP per capita (%)
UIS.XUNIT.GDPCAP.3.FSGOV	Government expenditure per upper secondary student as % of GDP per capita (%)
UIS.XUNIT.GDPCAP.4.FSGOV	Government expenditure per post-secondary non-tertiary student as % of GDP per capita (%)

In [113]:
countries = [i['id'] for i in wbdata.get_country(incomelevel="OEC", display=False)]
indicators = {"IC.BUS.EASE.XQ": "doing_business", "NY.GDP.PCAP.PP.KD": "gdppc"}
df = wbdata.get_dataframe(indicators, country=countries, convert_date=True)
df.describe()

       doing_business         gdppc
count       64.000000    787.000000
mean        24.937500  33740.780244
std         16.212747  13536.454210
min          2.000000   9244.159549
25%         11.500000  25139.116627
50%         24.000000  32361.390355
75%         34.250000  40308.545267
max         61.000000  96711.050369